<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.klbr184.mapper.PermissionMapper">

    <select id="selectPermissionsByUserID" resultType="java.lang.String">
        SELECT
            DISTINCT p.permission_key
        FROM
            user_role ur
                LEFT JOIN role r ON ur.role_id = r.id
                LEFT JOIN role_permission rp ON r.id = rp.role_id
                LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE
            user_id = #{userID}
          AND r.state = 0
          AND p.state = 0
    </select>
    <select id="selectPermissionsByRoleId" resultType="com.klbr184.entity.Permission">
        SELECT
            p.id,p.permission_name,p.permission_key,p.state
        FROM
            role_permission rp LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE
            rp.role_id=#{roleId}
    </select>
</mapper>